<section class="bg-white">
  <div class="container text-center ">
    <div class="inline-flex py-2 px-4 bg-[#F2F4F7] rounded-full mb-10">
      👋 Meet Personally
    </div>
    <h1 class="lg:text-7xl lg:leading-[120%] bg-gradient-to-r from-[#C41740] to-[#EA9C28] bg-clip-text text-transparent font-bold">Minimal blog template for creative expressions</h1>

    <p class="text-slate-800 text-2xl max-w-[690px] mx-auto mt-5">100% customisable and SEO-friendly blog template for personal and commercial purposes.</p>
  </div>
</section>